# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
.pytest_cache/
.mypy_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Env / Secrets
.env
*.env

# Misc
coverage/

# Logs
logs/*
!logs/.gitkeep
